/* base styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* header styles */
#header {
    display: flex;
    align-items: center;
    margin: -5px 0;
}

#logo {
    padding: 25px;
}

#logo a > img {
    max-height: 31px;
}

/* search bar styles */
#search {
    margin-right: 280px;
    padding: 25px;
    position: relative;
}

#search input[type=text] {
    width: 550px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding-right: 135px;
}

#search input[type=text]:focus {
	outline: none;
}

#search input[type=text]:hover {
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
}

.sbicon {
    position: absolute;
    right: 40px;
    top: 28px;
}

.sbicon:hover { 
    cursor: pointer;
}

/* header icons */
#h-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#app {
    width: 25px;
    height: 25px;
    background-image: url(/images/apps.png);
    background-position: -134px -39px;
    opacity: 0.55;
}

#app:hover {
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

#user-image {
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 100%;
    background-image: url(/images/my_av.png);
    margin: 0 30px;
    margin-left: 20px;
}

#user-image:hover {
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

/* navbar section */
#navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-top: -10px;
    width: 715px;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li {
    float: left;
    padding: 0 10px;
}

.nav-link {
    display: block;
	color: #666;
	text-align: center;
	padding: 14px 10px;
    text-decoration: none;
    font-size: 14px;
}

/* main section */
#main {
    margin-left: 170px;
}

#result-stats {
    color: #666;
    font-weight: 100;
    font-size: 13.5px;
    padding: 10px;
}

#all-results {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.result {
    width: 620px;
    margin-bottom: 40px;
}

.result-url {
    font-size: 13px;

}

.result-url:hover {
    cursor: pointer;
}

.result-title {
    margin: 10px 0;
}

.result-link {
    font-size: 20px;
    text-decoration: none;;
}

.result-link:hover {
    text-decoration: underline;
}

.result-description {
    font-size: 14px;
}

.keywords {
    font-weight: bold;
}

/* people ask section */
#people-ask {
    width: 620px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 10px;
}

#pa-title {
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;;
}

#pa-asks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pa-question {
    border-bottom: 1px solid #aaa;
}

.pa-question:last-child {
    border-bottom: none;
}

.pa-question a {
    display: block;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
}

#feedback {
    width: 620px;
    text-align: right;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 40px;
    opacity: 0.6;
}

#feedback:hover {
    text-decoration: underline;
    cursor: pointer;
}