/* base styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

/* header styles */
#header {
    display: flex;
    align-items: center;
    margin: -5px 0;
}

#h-logo {
    padding: 25px;
}

#h-logo a > img {
    max-height: 31px;
}

/* search bar styles */
#h-search {
    margin-right: 280px;
    padding: 25px;
    position: relative;
}

#h-search input[type=text] {
    width: 550px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding-right: 135px;
}

#h-search input[type=text]:focus {
	outline: none;
}

#h-search input[type=text]:hover {
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
}

.sbicon {
    position: absolute;
    right: 40px;
    top: 28px;
}

.sbicon:hover { 
    cursor: pointer;
}

/* header icons */
#h-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#h-app {
    width: 25px;
    height: 25px;
    background-image: url(../images/apps.png);
    background-position: -134px -39px;
    opacity: 0.55;
}

#h-app:hover {
    cursor: pointer;
}

#h-user-image {
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 100%;
    background-image: url(../images/my_av.png);
    margin: 0 30px;
    margin-left: 20px;
}

#h-user-image:hover {
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

/* navbar section */
#navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-top: -10px;
    width: 715px;
}

#navigation li {
    float: left;
    padding: 0 10px;
}

.nav-link {
    display: block;
	color: #666;
	text-align: center;
	padding: 14px 10px;
    font-size: 14px;
}

/* main section */
#main {
    margin-left: 170px;
    width: 620px;
}

#result-stats {
    color: #666;
    font-weight: 100;
    font-size: 13.5px;
    padding: 10px;
}

#all-results {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.result {
    margin-bottom: 30px;
}

.result-url {
    font-size: 13px;

}

.result-url:hover {
    cursor: pointer;
}

.result-title {
    margin: 10px 0;
}

.result-link {
    font-size: 20px;
    color: #1a0dab;
}

.result-link:hover {
    text-decoration: underline;
}

.result-link:visited {
    color: #609;
}

.result-description {
    font-size: 14px;
}

.keywords {
    font-weight: bold;
}

/* people ask section */
#people-ask {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 10px;
}

#pa-title {
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.pa-question {
    border-bottom: 1px solid #aaa;
}

.pa-question:last-child {
    border-bottom: none;
}

.pa-question a {
    display: block;
    padding: 10px 15px;
}

#feedback {
    text-align: right;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 40px;
    opacity: 0.6;
}

#feedback:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* image slider section */
#image-slider {
    position: relative;
    width: 630px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #eee; 
    margin-bottom: 50px;
}

#is-title a {
    font-size: 20px;
    padding-left: 40px;
}

#is-title a:hover {
    color: #0000ff;
}

#is-suggestions li {
    float: left;
    margin: 10px;
}

#is-suggestions li:first-child {
    margin-left: 0;
}

#is-suggestions li:last-child {
    margin-right: 0;
}

.is-suggestion {
    display: block;
    color: #000;
    padding: 10px 14px;
    border-radius: 50px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.is-suggestion:hover {
    background-color: #eee;
}

.is-image {
    height: 156px;
    max-width: 156px;
}

.is-report {
    margin: 5px 20px 5px 0;
    text-align: right;
    font-size: 12px;
    opacity: 0.4;
}

.is-report {
    cursor: pointer;
    margin-bottom: 20px;
}

#is-all {
    position: absolute;
    align-self: center;
    width: 240px;
    text-align: center;
    bottom: -20px;
}

.is-vall {
    display: block;
    padding: 10px 0;
    border: 2px solid #eee;
    border-radius: 30px;
    color: #1a0dab;
    background-color: #fff;
}

/* releated searches section */
#searches-related {
    margin-bottom: 20px;
}

.sr-link {
    display: block;
    width: 190px;
    float: left;
    color: #1a0dab;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    margin: 5px 10px;
}

/* page select section */
#pages {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#pages table {
    font-size: 13px;
}

#pages table tr {
    text-align: center;
}

#pages table tr td {
    width: 20px;
    height: 24px;
}

.pages-link {
    color: #4285f4;
}

.pages-link:hover {
    text-decoration: underline;
}

.g-letter {
    background-image: url(../images/pages.png);
    background-position: -24px -1px;   
    padding: 2px 4px;
}

.red-o-letter {
    background-image: url(../images/pages.png);
    background-position: -52px -1px;   
}

.yellow-o-letter {
    background-image: url(../images/pages.png);
    background-position: -73px -1px;   
}

.yellow-o-letter:hover {
    cursor: pointer;
}

.s-g-letter {
    background-image: url(../images/pages.png);
    background-position: -94px -1px;   
}

.le-letter {
        background-image: url(../images/pages.png);
        background-position: -114px -1px; 
}

.pages-arrow a {
    color: #4285f4;
}

/* footer section */
#footer {
    background-color: #f2f2f2;
    width: 100%;
    font-size: 14px;
}

#location {
    display: flex;
    min-height: 40px;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

#location #country {
    margin-left: 170px;
    margin-top: 5x;
    padding-right: 10px;
    border-right: 2px solid #e4e4e4;
    opacity: 0.6;
}

#location #city {
    margin-left: 10px;
    margin-right: 5px;
}

#footer-links {
    margin-left: 5px;
}
.footer-link {
    opacity: 0.7;
}

.footer-link:hover {
    opacity: 1;
}

#info {
    display: flex;
    min-height: 40px;
    align-items: center;
    padding-left: 170px;
}

#info a {
    margin-right: 20px;
}