/* base styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

/* header styles */
#header {
    display: flex;
    align-items: center;
    margin: -5px 0;
}

#h-logo {
    padding: 25px;
}

#h-logo a > img {
    max-height: 31px;
}

/* search bar styles */
#h-search {
    margin-right: 280px;
    padding: 25px;
    position: relative;
}

#h-search input[type=text] {
    width: 550px;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding-right: 135px;
}

#h-search input[type=text]:focus {
	outline: none;
}

#h-search input[type=text]:hover {
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
}

.sbicon {
    position: absolute;
    right: 40px;
    top: 28px;
}

.sbicon:hover { 
    cursor: pointer;
}

/* header icons */
#h-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#h-app {
    width: 25px;
    height: 25px;
    background-image: url(/images/apps.png);
    background-position: -134px -39px;
    opacity: 0.55;
}

#h-app:hover {
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

#h-user-image {
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 100%;
    background-image: url(/images/my_av.png);
    margin: 0 30px;
    margin-left: 20px;
}

#h-user-image:hover {
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

/* navbar section */
#navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-top: -10px;
    width: 715px;
}

#navigation li {
    float: left;
    padding: 0 10px;
}

.nav-link {
    display: block;
	color: #666;
	text-align: center;
	padding: 14px 10px;
    text-decoration: none;
    font-size: 14px;
}

/* main section */
#main {
    margin-left: 170px;
}

#result-stats {
    color: #666;
    font-weight: 100;
    font-size: 13.5px;
    padding: 10px;
}

#all-results {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.result {
    width: 620px;
    margin-bottom: 30px;
}

.result-url {
    font-size: 13px;

}

.result-url:hover {
    cursor: pointer;
}

.result-title {
    margin: 10px 0;
}

.result-link {
    font-size: 20px;
    text-decoration: none;;
}

.result-link:hover {
    text-decoration: underline;
}

.result-description {
    font-size: 14px;
}

.keywords {
    font-weight: bold;
}

/* people ask section */
#people-ask {
    width: 620px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 10px;
}

#pa-title {
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;;
}

.pa-question {
    border-bottom: 1px solid #aaa;
}

.pa-question:last-child {
    border-bottom: none;
}

.pa-question a {
    display: block;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
}

#feedback {
    width: 620px;
    text-align: right;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 40px;
    opacity: 0.6;
}

#feedback:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* image slider section */
#image-slider {
    width: 630px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

#is-title a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding-left: 40px;
}

#is-title a:hover {
    color: #0000ff;
}

#is-suggestions li {
    float: left;
    margin: 10px;
}

#is-suggestions li:first-child {
    margin-left: 0;
}

#is-suggestions li:last-child {
    margin-right: 0;
}

.is-suggestion {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 14px;
    border-radius: 50px;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.is-suggestion:hover {
    background-color: #eee;
}

.is-image {
    height: 156px;
    max-width: 156px;
}

.is-report {
    margin: 5px 0;
    text-align: right;
    font-size: 12px;
    opacity: 0.4;
}

.is-report {
    cursor: pointer;
}
